<% if user_signed_in? %>
	<!-- blank for now but you can put anything you want here for example -	<h1>You're logged in</h1>  I can also remove this alltogether (the if/else statement) and instead use unless user_signed_in inside of the ruby brakets/tags -->
<% else %>

<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		You've found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application

	</p>

	<p> <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %> </p>
</div>



<% end %>



