/* This Changes the font */
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


/* $btnPrimaryBackground: lightblue;  ************Changed Sign up now! button color 
$navbarBackgroundHighlight: #444;	********* As said these three change nav bar
$navbarBackground: #666;
$navbarLinkColor:lightblue;
*/

@import 'bootstrap';

body { padding-top:60px; }


@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer { 
	margin-top:50px; 
	color: $grayDarker; 
	a {
		color:$grayDarker;}
	}
/*    *************** This changed colors in the hero unit **************************
.hero-unit h1 {color:lightblue;}

.hero-unit p {color:lightblue;}

    ***** This is a mixin test this one makes the hero unit translucent *****
@mixin translucent-background($color: $black, $alpha: .09) {
  background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}

.hero-unit {@include translucent-background;}


*****THIS WAS A TEST using mixins basically the page i have bookmarked shows various mixins this one was for a radial gradient

body {@include gradient-radial; padding-bottom:500px;}
*/


/* Required for jquery masonry */

.box { 
	margin: 5px; 
	padding: 5px; 
	font-size: 11px; 
	line-height: 1.4em; 
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
	}

.box img {
	display: block;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


.description {
	margin: 10px 0 5px;
}