

/* This Changes the font */
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


$btnPrimaryBackground: #d4daf6;  
$navbarBackgroundHighlight: #444;	
$navbarBackground: #13101d;
$navbarLinkColor: #d4daf6;


@import 'bootstrap';

body { padding-top:60px; margin: 0;
    background: url('gradbg2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;}


@import 'bootstrap-responsive';

@mixin translucent-background($color: $black, $alpha: .2) {
  background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}

.container {margin-left: 0; margin-right: 0; width:100%;}
#pins {margin-left:100px;margin-right:auto;}



.navbar-inner { @include box-shadow(none !important);background:#13101d;
	border: 1;
} 

.footer { background:#13101d;
          height:40px;
	       margin-top:90px; 
         box-shadow: 1px 1px 4px #fff;
	       color: #d4daf6; text-align:center;
	     a {
		    color:#d4daf6;}
	     }



.hero-unit h1 {color:#b2bbe9;}

.hero-unit p {color:#d4daf6;}

.hero-unit a {color:#b2bbe9}




.hero-unit {@include translucent-background;margin-top:70px;min-height:200px;}


/* *****THIS WAS A TEST using mixins basically the page i have bookmarked shows various mixins this one was for a radial gradient

body {@include gradient-radial; padding-bottom:500px;}
*/


/* Required for jquery masonry */

.box { @include translucent-background;
	margin: 5px; 
	padding: 8px; 
	font-size: 11px; 
	line-height: 1.4em; 
	float: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #b2bbe9;
	width: 193px;
	}

.box img {
	display: block;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.box p {color:#d4daf6;}
.box a {color:#b2bbe9}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.description {
	margin: 10px 0 5px;
}


/* DIGG style links/pagination from the will_paginate website */
.pagination {
  background: white;
  cursor: default;
  margin-top: 40px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #777;
    border: solid 1px #CCC;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

/* This creates the loader gif for the infinite scroll */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

.hpsignup {float:right; margin-top:-55px;padding:0;}
.hpsignup .btn-primary{float:right;}
.hpsignup input {background-color:#d4daf6;}

.add-on {color:#d4daf6;}
.loginnav input{background-color:#d4daf6;}
.loginnav ::-webkit-input-placeholder {
   color: #131116;
}

.loginnav :-moz-placeholder { /* Firefox 18- */
   color: #131116;  
}

.loginnav ::-moz-placeholder {  /* Firefox 19+ */
   color: #131116;  
}

.loginnav :-ms-input-placeholder {  
   color: #131116;  
}
.loginnav .btn-primary {color: #131116;}
.prepend {background-color:black;}

.dropdown-menu {background-color:#131116; padding:10px;}

.container .brand {margin-left:10px;}

.alert {background-color:#131116;color:white;}
