/* This Changes the font */
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


$btnPrimaryBackground: lightblue;
$navbarBackgroundHighlight: #444;
$navbarBackground: #666;
$navbarLinkColor:lightblue;

@import 'bootstrap';

body { padding-top:60px; }


@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer { 
	margin-top:50px; 
	color: $grayDarker; 
	a {
		color:$grayDarker;}
	}

.hero-unit h1 {color:lightblue;}

.hero-unit p {color:lightblue;}


@mixin translucent-background($color: $black, $alpha: .09) {
  background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}

.hero-unit {@include translucent-background;}


body {@include gradient-radial; padding-bottom:500px;}

